header{
    color: rgb(176, 177, 181);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    font-family:Georgia, serif;;
    background-color: rgb(27, 26, 29);
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 50px; /* Altura del rectángulo */
    margin: 6%; /* Márgenes alrededor del rectángulo */


}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
body h1{
    color: rgb(225, 108, 13);
    font-size: 16px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: uppercase; /* Transformación del texto */
    margin: 2%;
}
.linea-horizontal {
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: rgb(225, 108, 13); /* Color de la línea */
    margin: 2%; /* Márgenes superior e inferior */
  }
p {
    color: rgb(113, 114, 118);
    font-size: 16px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: capitalize; /* Transformación del texto */
    text-decoration: underline; /* Decoración del texto */
    margin: 5%;
    font-family:Georgia, serif;;
    
}

  /* Estilo para el blockquote */
  blockquote {
    color: rgb(113, 114, 118);
    font-size: 10px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: capitalize; /* Transformación del texto */
    text-decoration: none; /* Decoración del texto */
    border-left: 5px solid #676262; /* Borde izquierdo */
    padding-left: 5px; /* Espaciado interno */
    margin: 20px 0; /* Márgenes */
    align-items: center; /* Centrado vertical */
    height: 18px; /* Altura del rectángulo */
    margin-left: 6%; /* Márgenes alrededor del rectángulo */
    margin-right: 5%;
    background-color: rgb(27, 26, 29);
  }

  .box1 {
    color: rgb(255, 255, 255);
    font-size: 14px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: none; /* Transformación del texto */
    font-family:Georgia, serif;;
    padding: 5px; /* Espaciado interno */
    align-content: center; /* Centrado vertical */
    height: 40px; /* Altura del rectángulo */
    margin: 30px 10px 20px 10px;
    background-color: rgb(60, 59, 63);
    border-radius: 0.7rem;
    border:1px solid rgb(52, 51, 54);
    box-shadow: 0px 0px 10px 0.5px rgb(225, 108, 13);


  }

  .box2 {
    color: rgb(48, 47, 47);
    font-size: 14px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: none; /* Transformación del texto */
    font-family:Georgia, serif;;
    padding-left: 5px; /* Espaciado interno */
    align-content: center; /* Centrado vertical */
    height: 40px; /* Altura del rectángulo */
    margin: 30px 10px 20px 10px;
    background-color: rgb(116, 115, 119);
    border-radius: 0.7rem;
    border:3px solid rgb(52, 51, 54);
    box-shadow: 0px 0px 10px 1px rgb(225, 108, 13);

  }

  .relativo { 
    color: rgb(255, 255, 255);
    font-size: 9px; /* Tamaño de la fuente */
    text-align: justify; /* Alineación del texto */
    text-transform: none; /* Transformación del texto */
    font-family:Georgia, serif;;
    padding: 5px; /* Espaciado interno */
    align-content:unsafe ; /* Centrado vertical */
    height: 40px; /* Altura del rectángulo */
    margin: 30px 10px 50px 10px;
    background-color: rgb(60, 59, 63);
    border-radius: 0.7rem;
    border:1px solid rgb(52, 51, 54);
    box-shadow: 0px 0px 10px 0.5px rgb(225, 108, 13);
    position: relative;
    z-index: 10;
    align-content: center;

  }

  .absoluto {
    position: absolute;
    background-color: rgb(116, 115, 119);
    border-radius: 0.7rem;
    border:3px solid rgb(52, 51, 54);
    box-shadow: 0px 0px 10px 1px rgb(225, 108, 13);
    z-index: 15;
    height: 30px;
    width: 370px;
    align-content: center;
    top: 80%;
    left: 35%;
    padding-left: 10px;

  }

  @media  screen and (max-width:768px ) {
    body h1{
        font-size: 10px;
    }
    body{
        background-color: rgb(11, 4, 55);
        margin: 0; 
        padding: 0;
    }

  }

  .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 1rem ;

  }

  .grid-item{
    color: rgb(255, 255, 255);
    background-color: rgb(60, 59, 63);
    border-radius: 0.3rem;
    border:1px solid rgb(52, 51, 54);
    box-shadow: 0px 0px 10px 0.5px rgb(225, 108, 13);
    padding: 5px; /* Espaciado interno */
    align-content:center ; 
    position: relative;
  }

  .container{
    width: 200px;
    height:400px ;
    

  }

  .cuadrado{
    margin: 40px 0px 20px 30px;
    background-color: blueviolet;
    height: 80px;
    width: 80px;
    transition: 2s;
  }

  .circulo{
    margin: 40px 0px 20px 30px;
    background-color: rgb(43, 226, 80);
    height: 90px;
    width: 90px;
    border-radius: 45px;
    animation: mover 2s infinite;
  }

  .cuadrado:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 166);    
  }

  @keyframes mover {
    0%{
        transform: (translateX(0));
    }
    50%{
        transform: translate(200px);
    }
    100%{
        transform:(translateX(0px)) ;
    }
  }